<div id="<%= dom_id list %>">
  <p>
    <strong>List:</strong>
    <%= list.name %>
  </p>

</div>

<ul data-controller="sortable">
  <% list.todos.rank(:row_order).each do |todo| %>
    <li data-sortable-update-url="<%= sort_todo_path(todo) %>">
      <%= render todo %>  
    </li>
  <% end %>
</ul>
