<div id="<%= dom_id list %>">
  <p>
    <strong>List:</strong>
    <%= list.name %>
  </p>

</div>

<ul>
  <% list.todos.each do |todo| %>
    <li>
      <%= render todo %>  
    </li>
  <% end %>
</ul>
