.size-full
  .flex
    = link_to "#{image_tag "back.svg", class: "absolute size-12 mt-4"}".html_safe, root_path
    %h1.custom-title Editing todo
  .flex-col
    = render "form", todo: @todo
    .form-btn
      = button_to "Delete", @todo, method: :delete, :class  => "delete-btn", :data => { turbo_confirm: "Are you sure?" }
